<h2>Ukdah | Employee Recognition Portal | Admin </h2>
    <section>
        <p>Admin Options</p>
        <ul>
            <li><a href="/admin/employees">Employees: Create, Read, Update, Delete</a></li>
            <li><a href="/admin/awards">Award Types: Create, Read, Delete</a></li>
            <li><a href="/admin/business">Business Intelligence: Award analysis</a></li>
        </ul>

        <br>

        <p><a href="/">Home page</a></p>
    </section>