<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
		<header id="header" class=''>
			<h1><a href="/admin">Ukdah</a></h1>
			<nav id="nav">
				<ul>
					<li class="special">
						<a href="#menu" class="menuToggle"><span>Menu</span></a>
						<div id="menu">
							<ul>
								<li><a href="/admin">Home</a></li>
                                <li><a href="/admin/users">User List</a></li>
                                <li><a href="/admin/awards">Award List</a></li>
                                <li><a href="/admin/awardTypes">Award Types</a></li>
                                <li><a href="/admin/business">Analytics</a></li>
                                <li><a href="/admin/account">Account</a></li>
								<li><a href="/login">Logout</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</header>

        <!-- Main -->
        <article id="main">
            <header>
                <h2>Ukdah Award Types (Admin)</h2>
                <p>List of certificate award types</p>
            </header>
            <section class="wrapper style5">
                <div class="inner">
                    <i><a href="/admin" class="icon fa-arrow-left"><span class="label">Go to admin home page</span> Back to admin home</a></i>
                    <br><br><br>
                    
                    <h4>Award Types</h4>
                    <div class="table-wrapper">
                        <table class="alt" id="scrollyTable"> 
                            <thead class="thead-dark text-center">
                                <th>Award ID</th> 
                                <th>Name</th> 
                                <th>Description</th> 
                                <th></th>      
                            </thead> 
                            
                            <tbody> 
                                {{#each awards}}
                                <tr> 
                                    <td>{{Award_ID}}</td>
                                    <td>{{Name}}</td> 
                                    <td>{{Desc}}</td> 
                                    <td><a href="#"><i title="Delete user" class="fa fa-trash fa-lg" onclick="deleteUser({{Award_ID}})"></i></a></td>
                                </tr>
                                {{/each}}  
                            </tbody>
                        </table>
                    </div>

                    <br>

                    <section>
                        <h4>Add award type</h4>
                        <form method="post" action="/admin/awardTypes">
                            <div class="row gtr-uniform">
                                <div class="col-8 col-12-xsmall">
                                    <input type="text" name="name" id="name" value="" placeholder="Award Title" />
                                </div>
                                <div class="col-12">
                                    <textarea name="description" id="description" placeholder="Enter your award description" rows="6"></textarea>
                                    </div>
                                <div class="col-12">
                                    <ul class="actions">
                                        <li><input type="submit" value="Create Award" class="primary" /></li>
                                        <li><input type="reset" value="Reset" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </section> 
        </article>
    <div>
    <script src="/static/javascripts/deleteAwardType.js"></script>
</body>