<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Main -->
        <article id="main">
            <header>
                <h2>Admin Options</h2>
                <!-- <p>Ukdah Administrator Settings!</p> -->
            </header>
            <section class="wrapper style5">
                <div class="inner">
                    <section>
                        <p>User Information</p>
                        <form>
                            <b>Email: </b> <input type="text" name="Email" placeholder="{{Email}}"> <br>
                            <b>Account Creation Date: </b> {{Date}} <br>
                        </form> 
                    </section>

                    <section>
                        <p>Change Password</p>
                        <form>
                            <b>Old Password: </b><input type="text" name="Old_Password"> <br>
                            <b>New Password: </b><input type="text" name="New_Password"> <br>
                            <button>Confirm</button>
                        </form>
                    </section>
                </div>
            </section>
        </article>
    </div>
</body>