<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
		<header id="header" class=''>
			<h1><a href="/admin">Ukdah</a></h1>
			<nav id="nav">
				<ul>
					<li class="special">
						<a href="#menu" class="menuToggle"><span>Menu</span></a>
						<div id="menu">
							<ul>
								<li><a href="/admin">Home</a></li>
                                <li><a href="/admin/users">User List</a></li>
                                <li><a href="/admin/awards">Award List</a></li>
                                <li><a href="/admin/awardTypes">Award Types</a></li>
                                <li><a href="/admin/business">Analytics</a></li>
                                <li><a href="/admin/account">Account</a></li>
								<li><a href="/login">Logout</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</header>

        <!-- Main -->
        <article id="main">
            <header>
                <h2>Business Intelligence</h2>
                <!-- <p>Welcome to Ukdah administrator!</p>  -->
            </header>

            <section class="wrapper style5">
                <div class="inner">
                    <i><a href="/admin" class="icon fa-arrow-left"><span class="label">Go to admin home page</span> Back to admin
                            home</a></i>
                    <br><br><br>
            
                    <h3>Premade Intelligence</h3>
                    <form method="get" action="business/customCSV">
                        <button type="submit" name="table" value="1">Users By Created Awards</button>
                        <button type="submit" name="table" value="2">Regions by most awards</button>
                    </form>
                </div>
            </section>
            
            <hr style="border-bottom:solid 2px black;margin:0px">
            
            <section class="wrapper style5">
                <div class="inner">
                    <h3>Download Tables</h3>
                    <section style="width:100%; height:100%">
            
                        <form method="get" action="business/customCSV">
                            <button type="submit" name="table" value="3">User</button>
                            <button type="submit" name="table" value="4">Employee</button>
                            <button type="submit" name="table" value="5">Region</button>
                            <button type="submit" name="table" value="6">Award</button>
                            <button type="submit" name="table" value="7">userAwards</button>
                            <button type="submit" name="table" value="8">userTypeID</button>
                        </form>
                    </section>
                </div>
            </section>

            <hr style="border-bottom:solid 2px black;margin:0px">

            <section class="wrapper style5">
                <div class="inner">
                    <i><a href="/admin" class="icon fa-arrow-left"><span class="label">Go to admin home page</span> Back to admin
                            home</a></i>
                    <br><br><br>
            
                    <h3>Custom Intelligence</h3>
                    <form method="GET" action="business/customCSV">
                    <input type="hidden" value="9" name="table" style="hidden" />
                    <fieldset>
                        <table>
                            <col width="50%">
                            <col width="0%">
                            <col width="0%">
                            <col width="0%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <h4>User</h4>
                            <thead>
                                <th>Category</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th><div style="text-align: right">Select</div></th>
                                <th><div style="text-align: right">Count</div></th>
                                <th><div style="text-align: right">Group By</div></th>        
                            </thead>
                            <tbody>
                                <tr>
                                    <td>User ID</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="uIDC" id="uIDC"><label for="uIDC"></label></div></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="uCountIDC" id="uCountIDC"><label for="uCountIDC"></label></div></td>
                                    <td><div style="text-align: right"><input type="radio" name="order_1" id="order_1" value="1" checked /><label for="order_1"></label></div></td>
                                    
                                </tr>
                                <tr>
                                    <td>First Name</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="uFNC" id="uFNC"><label for="uFNC"></label></div></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="uCountFNC" id="uCountFNC"><label for="uCountFNC"></label></div></td>
                                    <td><div style="text-align: right"><input type="radio" name="order_2" id="order_2" value="2" /><label for="order_2"></label></div></td>
                                    
                                </tr>
                                <tr>
                                    <td>Last Name</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="uLNC" id="uLNC"><label for="uLNC"></label></div></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="uCountLNC" id="uCountLNC"><label for="uCountLNC"></label></div></td>
                                    <td><div style="text-align: right"><input type="radio" name="order_3" id="order_3" value="3" /> <label for="order_3"></label></div></td>
                                    
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="uEC" id="uEC"><label for="uEC"></label></div></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="uCountECC" id="uCountECC"><label for="uCountECC"></label></div></td>
                                    <td><div style="text-align: right"><input type="radio" name="order_4" id="order_4" value="4" /> <label for="order_4"></label></div></td>
                                    
                                </tr>
                                <tr>
                                    <td>Account Creation Date</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="uACC" id="uACC"><label for="uACC"></label></div></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="uCountACC" id="uCountACC"><label for="uCountACC"></label></div></td>
                                    <td><div style="text-align: right"><input type="radio" name="order_5" id="order_5" value="5" /> <label for="order_5"></label></div></td>
                                    
                                </tr>
                                <tr>
                                    <td>Signature</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="uSC" id="uSC"><label for="uSC"></label></div></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="uCountSC" id="uCountSC"><label for="uCountSC"></label></div></td>
                                    <td><div style="text-align: right"><input type="radio" name="order_6" id="order_6" value="6" /> <label for="order_6"></label></div></td>
                                    
                                </tr>
                                <tr>
                                    <td>User Type</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="uTC" id="uTC"><label for="uTC"></label></div></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="uCountTC" id="uCountTC"><label for="uCountTC"></label></div></td>
                                    <td><div style="text-align: right"><input type="radio" name="order_7" id="order_7" value="7" /> <label for="order_7"></label></div></td>
                                    
                                </tr>
                                <tr>
                                    <td>Region</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="uRC" id="uRC"><label for="uRC"></label></div></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="uCountRC" id="uCountRC"><label for="uCountRC"></label></div></td>
                                    <td><div style="text-align: right"><input type="radio" name="order_8" id="order_8" value="8" /> <label for="order_8"></label></div></td>
                                    
                                </tr>
                            </tbody>                       
                        </table>

                        <table>
                            <col width="50%">
                            <col width="0%">
                            <col width="0%">
                            <col width="0%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <h4>Employee</h4>
                            <thead>
                                <th>Category</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th><div style="text-align: right">Select</div></th>
                                <th><div style="text-align: right">Count</div></th>
                                <th><div style="text-align: right">Group By</div></th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Employee ID</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="eIDC" id="eIDC"><label for="eIDC"></label></div></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="eCountIDC" id="eCountIDC"><label for="eCountIDC"></label></div></td>
                                    <td><div style="text-align: right"><input type="radio" name="order_9" id="order_9" value="9" /><label for="order_9"></label></div></td>
                        
                                </tr>
                                <tr>
                                    <td>First Name</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="eFNC" id="eFNC"><label for="eFNC"></label></div></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="eCountFNC" id="eCountFNC"><label for="eCountFNC"></label></div></td>
                                    <td><div style="text-align: right"><input type="radio" name="order_10" id="order_10" value="10" /><label for="order_10"></label></div></td>
                        
                                </tr>
                                <tr>
                                    <td>Last Name</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="eLNC" id="eLNC"><label for="eLNC"></label></div></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="eCountLNC" id="eCountLNC"><label for="eCountLNC"></label></div></td>
                                    <td><div style="text-align: right"><input type="radio" name="order_11" id="order_11" value="11" /> <label for="order_11"></label></div></td>
                        
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="eEC" id="eEC"><label for="eEC"></label></div></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="eCountEC" id="eCountEC"><label for="eCountEC"></label></div></td>
                                    <td><div style="text-align: right"><input type="radio" name="order_12" id="order_12" value="12" /> <label for="order_12"></label></div></td>
                                </tr>
                            </tbody>
                        </table>

                        <table>
                            <col width="50%">
                            <col width="0%">
                            <col width="0%">
                            <col width="0%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <h4>Region</h4>
                            <thead>
                                <th>Category</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th><div style="text-align: right">Select</div></th>
                                <th><div style="text-align: right">Count</div></th>
                                <th><div style="text-align: right">Group By</div></th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Region ID</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="rIDC" id="rIDC"><label for="rIDC"></label></div></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="rCountIDC" id="rCountIDC"><label for="rCountIDC"></label></div></td>
                                    <td><div style="text-align: right"><input type="radio" name="order_13" id="order_13" value="13" /><label for="order_13"></label></div></td>
                        
                                </tr>
                                <tr>
                                    <td>Region Name</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="rNC" id="rNC"><label for="rNC"></label></div></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="rCountNC" id="rCountNC"><label for="rCountNC"></label></div></td>
                                    <td><div style="text-align: right"><input type="radio" name="order_14" id="order_14" value="14" /><label for="order_14"></label></div></td>
                        
                                </tr>
                            </tbody>
                        </table>

                        <table>
                            <col width="50%">
                            <col width="0%">
                            <col width="0%">
                            <col width="0%">
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <h4>Award</h4>
                            <thead>
                                <th>Category</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th><div style="text-align: right">Select</div></th>
                                <th><div style="text-align: right">Count</div></th>
                                <th><div style="text-align: right">Group By</div></th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Award ID</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="aIDC" id="aIDC"><label for="aIDC"></label></div></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="aCountIDC" id="aCountIDC"><label for="aCountIDC"></label></div></td>
                                    <td><div style="text-align: right"><input type="radio" name="order_15" id="order_15" value="15" /><label for="order_15"></label></div></td>
                        
                                </tr>
                                <tr>
                                    <td>Award Name</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="aNC" id="aNC"><label for="aNC"></label></div></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="aCountNC" id="aCountNC"><label for="aCountNC"></label></div></td>
                                    <td><div style="text-align: right"><input type="radio" name="order_16" id="order_16" value="16" /><label for="order_16"></label></div> </td>
                        
                                </tr>
                                <tr>
                                    <td>Award Description</td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><div style="text-align: right"><input type="checkbox" name="aADC" id="aADC"><label for="aADC"></label></div> </td>
                                    <td><div style="text-align: right"><input type="checkbox" name="aCountADC" id="aCountADC"><label for="aCountADC"></label></div> </td>
                                    <td><div style="text-align: right"><input type="radio" name="order_17" id="order_17" value="17" /> <label for="order_17"></label></div></td>
                        
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                    <input type="submit">
                    </form>
                </div>
            </section>     
        </article>
    </div>
</body>