<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
		<header id="header" class=''>
			<h1><a href="/admin">Ukdah</a></h1>
			<nav id="nav">
				<ul>
					<li class="special">
						<a href="#menu" class="menuToggle"><span>Menu</span></a>
						<div id="menu">
							<ul>
								<li><a href="/admin">Home</a></li>
                                <li><a href="/admin/users">User List</a></li>
                                <li><a href="/admin/awards">Award List</a></li>
                                <li><a href="/admin/awardTypes">Award Types</a></li>
                                <li><a href="/admin/business">Analytics</a></li>
                                <li><a href="/admin/account">Account</a></li>
								<li><a href="/login">Logout</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</header>

        <!-- Main -->
        <article id="main">
            <header>
                <h2>Business Intelligence</h2>
                <!-- <p>Welcome to Ukdah administrator!</p>  -->
            </header>

            <section class="wrapper style5">
                <div class="inner">
                    <h3>Premade Intelligence</h3>
                    <section style="width:100%; height:100px">
                        <button style="float:left; margin:10px">Users by created awards</button>
                        <button style="float:left; margin:10px">Regions by most awards</button>

                    </section>
                    <button>Export</button>
                </div>

            </section>

            <hr style="border-bottom:solid 2px black;margin:0px">

            <section class="wrapper style5">
                <div class="inner">
                    <h3>Custom Intelligence</h3>
                    <section style="width:100%; height:250px">
                        <div style="float:left; width:30%; margin:10px">
                            Select
                            <select>
                                <option value="1">User Names</option>
                                <option value="2">value 2</option>
                                <option value="3">value 3</option>
                                <option value="4">value 4</option>
                                <option value="5">value 5</option>
                                <option value="6">value 6</option>
                                <select>
                        </div>

                        <div style="float:left; width:30%; margin:10px">
                            From
                            <select>
                                <option value="1">value 1</option>
                                <option value="2">value 2</option>
                                <option value="3">value 3</option>
                                <option value="4">value 4</option>
                                <option value="5">value 5</option>
                                <option value="6">value 6</option>
                                <select>
                        </div>

                        <div style="float:left; width:30%; margin:10px">
                            Where
                            <select>
                                <option value="1">value 1</option>
                                <option value="2">value 2</option>
                                <option value="3">value 3</option>
                                <option value="4">value 4</option>
                                <option value="5">value 5</option>
                                <option value="6">value 6</option>
                                <select>
                        </div>
                    </section>

                    <button>Export</button>
                </div>
            </section>
        </article>
    </div>
</body>