<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Main -->
        <article id="main">
            <header>
                <h2>Generic Layout</h2>
                <p>Send the deserved recognition to that employee of the month!</p>
            </header>
            <section class="wrapper style5">

                <div class="inner">
                    <i><a href="/admin/business" class="icon fa-arrow-left"><span class="label">Go to admin home
                                page</span> Back to admin business intelligence</a></i>
                    <br><br><br>
                    <h2 style="text-align: center">CSV Preview</h2>
                    <div class="inner" id="preview" style="border:black; border-style:solid; height:500px">
                        {{csv}}
                    </div>
                    <button id="download" style="margin-top:10px" onclick="downloadCSV()">Download</button>
                </div>
            </section>
        </article>
    </div>


    <script src="/static/javascripts/customCSV.js"></script>
</body>