<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Main -->
        <article id="main">
            <header>
                <h2>Create Account</h2>
                <!-- <p>Welcome to Ukdah administrator!</p> -->
            </header>
            <section class="wrapper style5">
                <div class="inner">
                    <section>
                        <p>Create Account</p>
                        <form id="createAccountForm">
                            <b>Username:</b><input type="text" name="username"><br>
                            <b>Password:</b><input type="text" name="password"><br>
                            <b>Email:</b><input type="text" name="email"><br>
                            <b>Signature:</b><input type="file" accept="image/*"><br><br>
                            <input type="submit">
                        </form>
                        
                    </section>
                </div>
            </section>
        </article>
    </div>
</body>