<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Main -->
        <article id="main">
            <header>
                <h2>Create Award</h2>
                <!-- <p>Welcome to Ukdah administrator!</p>  -->
            </header>
            <section class="wrapper style5">
                <div class="inner">
                    <section>
                        <div class="scrollmenu" style="background-color:grey;overflow:auto;">
                            <div style="padding:10px;float:left">
                                <a href="#week" style="background-color:#A9A9A9;display:inline-block;color:white;text-align:center;padding:25px;width:250px">Employee of the Week</a>
                            </div>
                            <div style="padding:10px;float:left">    
                                <a href="#month" style="background-color:#A9A9A9;display:inline-block;color:white;text-align:center;padding:25px;width:250px">Employee of the Month</a>
                            </div>
                        </div>
                    </section>

                    <section>
                    <div style="width:;height:;border:2px solid black">
                        <span class="image fit"><img src="images/EOTW_sample.jpg" alt="" /></span>
                    </div>
                    </section>

                    <section>
                        <form method="post" action="#" style="margin-top:25px">
                            <div class="row gtr-uniform">
                                <div class="col-4 col-12-xsmall">
                                    <input type="text" name="fname" id="fname" value="" placeholder="First Name" />
                                </div>
                                <div class="col-4 col-12-xsmall">
                                    <input type="text" name="lname" id="lname" value="" placeholder="Last Name" />
                                </div>
                                <div class="col-4 col-12-xsmall">
                                    <input type="text" name="email" id="email" value="" placeholder="Email" />
                                </div>
                                <div class="col-4 col-12-xsmall">
                                    <input type="text" name="date" id="date" value="" placeholder="Award Date" />
                                </div>
                                <!--NOT REQUIRED, implement in view awards page-->
                                <!--div class="col-4 col-12-xsmall">
                                    <a href=""><button>Select Creator</button></a>
                                </div-->
                                <!--NOT REQUIRED-->
                                <!--div class="col-6 col-12-xsmall"">
                                    <select name="user-region" id="user-region">
                                        <option value="">- Region -</option>
                                        <option value="1">Manufacturing</option>
                                        <option value="1">Shipping</option>
                                        <option value="1">Administration</option>
                                        <option value="1">Human Resources</option>
                                    </select>
                                </div-->
                                <div class="col-12">
                                    <input type="submit" value="Email Award" class="primary" />
                                </div>
                                <a href="/userIndex">Cancel</a>
                            </div>
                        </form>
                    </section>
                </div>
            </section>
        </article>
    </div>
</body>