<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Main -->
        <article id="main">
            <header>
                <h2>Award Confirmation</h2>
                <p>Confirm the Award and then Email it!</p>
            </header>
            <section class="wrapper style5">
                <div class="inner">
                    <section>
                        <div style="width:;height:700px;border:2px solid black">
                            <p style="text-align:center">Preview</p>
                        </div>
                    </section> <br>

                    <button class="button small primary" onclick="emailAward({{User_Email}})">Email Award</button>
                </div>
            </section>
        </article>
    </div>
</body>