<body class="landing is-preload">
	<!-- Page Wrapper -->
	<div id="page-wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<h1><a href="/">Ukdah</a></h1>
			<nav id="nav">
				<ul>
					<li class="special">
						<a href="#menu" class="menuToggle"><span>Menu</span></a>
						<div id="menu">
							<ul>
								<li><a href="/createAccount">Sign-Up</a></li>
								<li><a href="/login">Login</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</header>


		<!-- Banner -->
		<section id="banner">
			<div class="inner">
				<h2>Ukdah</h2>
				<p>The future of <br />
					enterprise employee recognition<br />
					crafted by <a href="https://github.com/venGaza/ukdah" target="_blank">The Ukdah Team</a>.</p>
				<ul class="actions special">
					<li><a href="/login" class="button primary">Get started</a></li>
				</ul>
			</div>
			<a href="#one" class="more scrolly">Learn More</a>
		</section>

		<!-- One -->
		<section id="one" class="wrapper style1 special">
			<div class="inner">
				<header class="major">
					<h2>Ukdah is an easy to use web application<br> for modern businesses</h2>
					<p>Using the Ukdah Employee Recognition Portal allows <br> 
					employers to quickly and easily develop awards that can <br> 
					easily be sent to their deserving employees.</p>
				</header>
				<ul class="icons major">
					<li><span class="icon fa-diamond major style1"><span class="label">Lorem</span></span></li>
					<li><span class="icon fa-heart-o major style2"><span class="label">Ipsum</span></span></li>
					<li><span class="icon fa-code major style3"><span class="label">Dolor</span></span></li>
				</ul>
			</div>
		</section>

		<!-- Two -->
		<section id="two" class="wrapper alt style2">
			<section class="spotlight">
				<div class="image"><img src="images/pic01.jpg" alt="" /></div>
				<div class="content">
					<h2>Automatic certificate <br />
						generation</h2>
					<p>Ukdah automatically generates certificates based upon pre-existing templates and the information entered by the user
						for quick and easy employee acknowledgement.</p>
				</div>
			</section>
			<section class="spotlight">
				<div class="image"><img src="images/pic02.jpg" alt="" /></div>
				<div class="content">
					<h2>Secure and reliable<br />
						authentication</h2>
					<p>Ukdah uses the newest and best available technology to make sure that accounts are safe to use and never vulnerable
						to unwanted users.</p>
				</div>
			</section>
			<section class="spotlight">
				<div class="image"><img src="images/pic03.jpg" alt="" /></div>
				<div class="content">
					<h2>Award analytics powered <br />
						by Google Charts</h2>
					<p>Administrators can generate a variety of graphs and charts to illustrate a variety of aspects about their userbase.
					</p>
				</div>
			</section>
		</section>

		<!-- Three -->
		<section id="three" class="wrapper style3 special">
			<div class="inner">
				<header class="major">
					<h2>Ukdah Benefits</h2>
					<p>Ukdah is the future of enterprise software and offers a variety of benefits.</p>
				</header>
				<ul class="features">
					<li class="icon fa-paper-plane-o">
						<h3>Email Awards</h3>
						<p>Ukdah provides an easy to use interface that automatically sends 
							the award to the email addresss of the recipient.</p>
					</li>
					<li class="icon fa-laptop">
						<h3>Develop Online</h3>
						<p>The awards are quick and easy to develop online using our 
							streamlined web application.</p>
					</li>
					<li class="icon fa-code">
						<h3>Streamlined Application</h3>
						<p>Ukdah is easily accessible and can be used immediately by 
							anyone.</p>
					</li>
					<li class="icon fa-headphones">
						<h3>Modern Design</h3>
						<p>Ukdah is a brand new application that addresses the desires of 
							a modern audience.</p>
					</li>
					<li class="icon fa-heart-o">
						<h3>Show Appreciation</h3>
						<p>Employees appreciate recognition for the their work and Ukdah 
							allows for managers to easily recognize them.</p>
					</li>
					<li class="icon fa-flag-o">
						<h3>Charts and Graphs</h3>
						<p>Ukdah easily allows admins to observe a wide variety of data points.</p>
					</li>
				</ul>
			</div>
		</section>

		<!-- CTA -->
		<section id="cta" class="wrapper style4">
			<div class="inner">
				<header>
					<h2>Create your <br>account today!</h2>
					<p>Begin creating awards that <br>your employees will appreciate!</p>
				</header>
				<ul class="actions stacked">
					<li><a href="/createAccount" class="button fit primary">Get Started</a></li>
					<li><a href="/login" class="button fit">Login</a></li>
				</ul>
			</div>
		</section>
	</div>
</body>