<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Main -->
        <article id="main">
            <header>
                <h2>Login</h2>
            </header>
            <section class="wrapper style5">
                <div class="row gtr-uniform">
                    <div class="col-4"></div>
                    <div class="inner col-4 col-12-small">
                        <section>
                            <form method="POST">
                                <input type="text" name="email" placeholder="Email" required><br>
                                <input type="password" name="password" placeholder="Password" required><br>
                                <ul class="actions special">
					                <li><input type="submit" class="button primary" value="Login"></li>
				                </ul>
                                <p>Do not have an account? <a href="/createAccount">Sign-up here</a></p>
                            </form>
                        </section>
                    </div>
                    <div class="col-4"></div>
                </div> 
            </section>
        </article>
    </div>
</body>