<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Main -->
        <article id="main">
            <header>
                <h2>Login</h2>
                <p>Please enter your Username and Password!</p>
            </header>
            <section class="wrapper style5">
                <div class="inner">
                    <section>
                        <form method="POST">
                            <b>Email: </b><input type="text" name="email"><br>
                            <b>Password: </b><input type="text" name="password"><br>
                            <input type="submit">
                        </form>
                    </section>
                </div>
            </section>
        </article>
    </div>
</body>