<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Main -->
        <article id="main">
            <header>
                <h2>Login</h2>
            </header>
            <section class="wrapper style5">
                <div class="inner">
                    <section>
                        <form method="POST">
                            <b>Email: </b><input type="text" name="email" required><br>
                            <b>Password: </b><input type="password" name="password" required><br>
                            <input type="submit">
                        </form>
                    </section>
                </div>
            </section>
        </article>
    </div>
</body>