<body class="landing is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
		<header id="header" class="alt">
			<h1><a href="/">Ukdah</a></h1>
			<nav id="nav">
				<ul>
					<li class="special">
						<a href="#menu" class="menuToggle"><span>Menu</span></a>
						<div id="menu">
							<ul>
								<li><a href="/">Home</a></li>
                                <li><a href="/createAccount">Sign-Up</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</header>

        <!-- Main -->

        <section id="banner2">
			<div class="inner">
				<h2>Ukdah</h2>
				<div class="row gtr-uniform">
                    <div class="col-4"></div>
                    <div class="inner col-4 col-12-small">
                        <section>
                            <form method="POST">
                                <input type="text" name="email" placeholder="Email" required><br>
                                <input type="password" name="password" placeholder="Password" required><br>
                                <ul class="actions special">
					                <li><input type="submit" class="button primary" value="Login"></li>
				                </ul>
                                 <p><a href="/createAccount">SIGN-UP</a> | <a href="#">password</a>?</p>
                            </form>
                        </section>
                    </div>
                    <div class="col-4"></div>
                </div> 
			</div>
		</section>
    </div>
</body>