<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Main -->
        <article id="main">
            <header>
                <h2>User Options</h2>
                <!-- <p>Welcome to Ukdah administrator!</p> -->
            </header>
            <section class="wrapper style5">
                <div class="inner">
                    <section>
                        <p>Update User Information</p>
                        <form method="POST">
                            <b>First Name: </b> <input type="text" name="First_Name" placeholder="{{First_Name}}" required><br>
                            <b>Last Name: </b> <input type="text" name="Last_Name" placeholder="{{Last_Name}}" required><br>
                            <b>Email: </b> <input type="text" name="Email" placeholder="{{Email}}" required><br>
                            <b>Old Password: </b><input type="text" name="Old_Password" required> <br>
                            <b>New Password: </b><input type="text" name="New_Password" required> <br>
                            <ul class="actions special">
                                <li><input type="submit" class="button primary" value="Confirm"></li>
                            </ul>
                            <a href="/userIndex">Cancel</a>
                        </form>
                    </section>
                    <!--section>
                        <p>Change Password</p>
                        <form method="POST">
                            <b>Old Password: </b><input type="text" name="Old_Password"> <br>
                            <b>New Password: </b><input type="text" name="New_Password"> <br>
                            <button>Confirm</button>
                        </form>
                    </section-->
                </div>
            </section>
        </article>
    </div>
</body>