<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
        <header id="header" class={{header}}>
            <h1><a href="/userIndex">Ukdah</a></h1>
        </header>

        <!-- Main -->
        <article id="main">
            <header>
                <h2>Ukdah User</h2>
            </header>
            <section class="wrapper style5">
                <div class="inner">
                    <section>
                        <ul class=""> 
                            <li><a href="/createAward">Create Award: Issued to employee via email</a></li>
                            <li><a href="/updateAward">Update Award: Change created awards</a></li>
                            <li><a href="/userAccount">Profile: User account information</a></li>
                            <li><a href="/login">Logout</a></li>
                        </ul>                    
                    </section>
                </div>
            </section>
        </article>
    </div>
</body>