<body class="is-preload">

    <!-- Page Wrapper -->
    <div id="page-wrapper">

        <!-- Header -->
		<header id="header" class={{header}}>
			<h1><a href="/user">Ukdah</a></h1>
			<nav id="nav">
				<ul>
					<li class="special">
						<a href="#menu" class="menuToggle"><span>Menu</span></a>
						<div id="menu">
							<ul>
								<li><a href="/user">Home</a></li>
                                <li><a href="/user/employees">Employee List</a></li>
                                <li><a href="/user/createAward">Create Award</a></li>
                                <li><a href="/user/updateAward">Award History</a></li>
                                <li><a href="/user/account">Account</a></li>
								<li><a href="/login">Logout</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</nav>
		</header>

        <!-- Main -->
        <article id="main">
            <header>
                <h2>Employee List for</h2>
                <p>Here are the employees in the database</p>
            </header>
            <section class="wrapper style5">
                <div class="inner">
                    <i><a href="/user" class="icon fa-arrow-left"><span class="label">Go to User home page</span> Back to User Home</a></i>
                    <br><br><br>
                    
                    <h4>Employees</h4>
                    <div class="table-wrapper">
                        <table class="alt" id="scrollyTable"> 
                            <thead class="thead-dark text-center">
                                <th>Name</th> 
                                <th>Email</th> 
                                <th></th>      
                            </thead> 
                            
                            <tbody> 
                                {{#each employees}}
                                <tr> 
                                    <td>{{Employee_Name}}</td> 
                                    <td>{{Employee_Email}}</td>
                                    <td><a href="#"><i title="Delete employee" class="fa fa-trash fa-lg" onclick="deleteUserEmployee({{Employee_ID}})"></i></a></td>
                                </tr>
                                {{/each}}  
                            </tbody>
                        </table>
                    </div>

                    <br><br>
                    
                    <section>
                        <h4>Add Employee</h4>
                        <form method="post" action="/user/employees" id="addEmployee">
                            <div class="row gtr-uniform">
                                <div class="col-4 col-12-xsmall">
                                    <input type="text" name="fname" id="fname" value="" placeholder="First Name" />
                                </div>
                                <div class="col-4 col-12-xsmall">
                                    <input type="text" name="lname" id="lname" value="" placeholder="Last Name" />
                                </div>
                                <div class="col-4 col-12-xsmall">
                                    <input type="email" name="email" id="email" value="" placeholder="Email" />
                                </div>
                                    <ul class="actions special">
                                        <li><input type="submit" value="Add Employee" class="primary" /></li>
                                        <li><input type="reset" value="Reset" /></li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                    </section>

                </div>
            </section>
        </article>
    <div>
    <script src="/static/javascripts/deleteUserEmployee.js"></script>
</body>